---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/album.json?page=1&q=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 0, "limit": 100, "offset": 0, "query": "",
        "type": "album", "page": 1}, "albums": []}'
  recorded_at: Thu, 06 Dec 2012 12:34:54 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/album.json?page=1&q=Greatest%20Hits
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 7805, "limit": 100, "offset": 0, "query":
        "Greatest Hits", "type": "album", "page": 1}, "albums": [{"name": "Greatest
        Hits", "popularity": "0.83761", "external-ids": [{"type": "upc", "id": "884977373295"}],
        "href": "spotify:album:1zCNrbPpz5OLSr6mSpPdKm", "artists": [{"href": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD",
        "name": "Foo Fighters"}], "availability": {"territories": "AD AE AF AG AI
        AL AM AN AO AQ AR AT AU AZ BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BW
        BY BZ CA CD CF CG CH CI CK CL CM CN CR CU CV CY CZ DE DJ DK DM DO DZ EE EG
        EH ER ES ET FI FJ FK FM FO FR GA GB GD GE GF GH GI GL GM GN GP GQ GR GT GU
        GW GY HK HN HR HT HU ID IE IL IN IO IQ IR IS IT JM JO KE KG KH KI KM KN KP
        KR KW KY KZ LA LB LC LI LK LR LS LT LU LV LY MA MC MD ME MG MH MK ML MM MN
        MO MP MQ MR MS MT MU MV MW MX MY MZ NA NC NE NG NI NL NO NP [...]
