---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/artist.json?page=1&q=Foo%20Fighters
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 2, "limit": 100, "offset": 0, "query": "Foo
        Fighters", "type": "artist", "page": 1}, "artists": [{"href": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD",
        "name": "Foo Fighters", "popularity": "0.52878"}, {"href": "spotify:artist:7BwOCTBw5XiJ7ZG2xIL8u8",
        "name": "Karaoke - Foo Fighters", "popularity": "0.00036"}]}'
  recorded_at: Thu, 06 Dec 2012 19:31:10 GMT
recorded_with: VCR 2.3.0
