---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 30 Nov 2012 23:41:47 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 0, "limit": 100, "offset": 0, "query": "",
        "type": "track", "page": 1}, "tracks": []}'
  recorded_at: Sun, 02 Dec 2012 13:39:34 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=Foo%20Fighters
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1413, "limit": 100, "offset": 0, "query":
        "Foo Fighters", "type": "track", "page": 1}, "tracks": [{"album": {"released":
        "1995", "href": "spotify:album:1zCNrbPpz5OLSr6mSpPdKm", "name": "Greatest
        Hits", "availability": {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AT
        AU AZ BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BW BY BZ CA CD CF CG CH
        CI CK CL CM CN CR CU CV CY CZ DE DJ DK DM DO DZ EE EG EH ER ES ET FI FJ FK
        FM FO FR GA GB GD GE GF GH GI GL GM GN GP GQ GR GT GU GW GY HK HN HR HT HU
        ID IE IL IN IO IQ IR IS IT JM JO KE KG KH KI KM KN KP KR KW KY KZ LA LB LC
        LI LK LR LS LT LU LV LY MA MC MD ME MG MH MK ML MM MN MO MP MQ MR MS MT MU
        MV MW MX MY MZ NA NC NE NG NI NL NO NP NR NU NZ OM PA PF PG PH PK PL PM PN
        PR PS PT PW PY QA RE RO RS RU RW SA SB SC SD SE SG SH SI SK SL SM SN SO SR
        ST SV SY SZ TC TD TF TG TH TJ TK TL TM TN TO TR TT TV TW TZ UA UG US UY UZ
        VA VC VG VN VU WF WS YE YT ZA ZM ZW ZZ"}}, "name": "Everlong", "popularity":
        "0.76242", "external-ids": [{"type": "isrc", "id": "USRW29600011"}], "length":
        250.259, "href": "spotify:track:07q6QTQXyPRCf7GbLakRPr", "artists": [{"href":
        "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD", "name": "Foo Fighters"}], "track-number":
        "3"}, {"album": {"released": "1995", "href": "spotify:album:1zCNrbPpz5OLSr6mSpPdKm",
        "name": "Greatest Hits", "availability": {"territories": "AD AE AF AG AI AL
        AM AN AO AQ AR AT AU AZ BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BW BY
        BZ CA CD CF CG CH CI CK CL CM CN CR CU CV CY CZ DE DJ DK DM DO DZ EE EG EH
        ER ES ET FI FJ FK FM FO FR GA GB GD GE GF GH GI GL GM GN GP GQ GR GT GU GW
        GY HK HN HR HT HU ID IE IL IN IO IQ IR IS IT JM JO KE KG KH KI KM[...]
