---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?uri=spotify:track:07q6QTQXyPRCf7GbLakRPr
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 30 Nov 2012 23:41:47 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"track": {"available": true, "album": {"released": "1995", "href":
        "spotify:album:1zCNrbPpz5OLSr6mSpPdKm", "name": "Greatest Hits"}, "track-number":
        "3", "popularity": "0.76254", "external-ids": [{"type": "isrc", "id": "USRW29600011"}],
        "length": 250.259, "href": "spotify:track:07q6QTQXyPRCf7GbLakRPr", "artists":
        [{"href": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD", "name": "Foo Fighters"}],
        "availability": {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AT AU AZ
        BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BW BY BZ CA CD CF CG CH CI CK
        CL CM CN CR CU CV CY CZ DE DJ DK DM DO DZ EE EG EH ER ES ET FI FJ FK FM FO
        FR GA GB GD GE GF GH GI GL GM GN GP GQ GR GT GU GW GY HK HN HR HT HU ID IE
        IL IN IO IQ IR IS IT JM JO KE KG KH KI KM KN KP KR KW KY KZ LA LB LC LI LK
        LR LS LT LU LV LY MA MC MD ME MG MH MK ML MM MN MO MP MQ MR MS MT MU MV MW
        MX MY MZ NA NC NE NG NI NL NO NP NR NU NZ OM PA PF PG PH PK PL PM PN PR PS
        PT PW PY QA RE RO RS RU RW SA SB SC SD SE SG SH SI SK SL SM SN SO SR ST SV
        SY SZ TC TD TF TG TH TJ TK TL TM TN TO TR TT TV TW TZ UA UG US UY UZ VA VC
        VG VN VU WF WS YE YT ZA ZM ZW ZZ"}, "name": "Everlong"}, "info": {"type":
        "track"}}'
  recorded_at: Sun, 02 Dec 2012 18:15:51 GMT
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?uri=spotify:artist:7jy3rLJdDQY21OgRLCZ9sD
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"type": "artist"}, "artist": {"href": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD",
        "name": "Foo Fighters"}}'
  recorded_at: Thu, 06 Dec 2012 12:09:47 GMT
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?uri=spotify:album:1zCNrbPpz5OLSr6mSpPdKm
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"album": {"artist-id": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD",
        "name": "Greatest Hits", "artist": "Foo Fighters", "external-ids": [{"type":
        "upc", "id": "884977373295"}], "released": "1995", "href": "spotify:album:1zCNrbPpz5OLSr6mSpPdKm",
        "availability": {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AT AU AZ
        BA BB BD BE BF BG BH BI BJ BM BN BO BR BS BT BW BY BZ CA CD CF CG CH CI CK
        CL CM CN CR CU CV CY CZ DE DJ DK DM DO DZ EE EG EH ER ES ET FI FJ FK FM FO
        FR GA GB GD GE GF GH GI GL GM GN GP GQ GR GT GU GW GY HK HN HR HT HU ID IE
        IL IN IO IQ IR IS IT JM JO KE KG KH KI KM KN KP KR KW KY KZ LA LB LC LI LK
        LR LS LT LU LV LY MA MC MD ME MG MH MK ML MM MN MO MP MQ MR MS MT MU MV MW
        MX MY MZ NA NC NE NG NI NL NO NP NR NU NZ OM PA PF PG PH PK PL PM PN PR PS
        PT PW PY QA RE RO RS RU RW SA SB SC SD SE SG SH SI SK SL SM SN SO SR ST SV
        SY SZ TC TD TF TG TH TJ TK TL TM TN TO TR TT TV TW TZ UA UG US UY UZ VA VC
        VG VN VU WF WS YE YT ZA ZM ZW ZZ"}}, "info": {"type": "album"}}'
  recorded_at: Thu, 06 Dec 2012 12:09:47 GMT
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?extras=trackdetail&uri=spotify:album:1zCNrbPpz5OLSr6mSpPdKm
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"album": {"artist-id": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD",
        "name": "Greatest Hits", "artist": "Foo Fighters", "external-ids": [{"type":
        "upc", "id": "884977373295"}], "released": "1995", "tracks": [{"available":
        true, "track-number": "1", "popularity": "0.65000", "external-ids": [{"type":
        "isrc", "id": "USRW30200001"}], "length": 263.854, "href": "spotify:track:2HbVINmehEbPmjlcueXEJJ",
        "artists": [{"href": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD", "name": "Foo
        Fighters"}], "disc-number": "1", "name": "All My Life"}, {"available": true,
        "track-number": "2", "popularity": "0.72000", "external-ids": [{"type": "isrc",
        "id": "USRW30500001"}], "length": 255.252, "href": "spotify:track:1sn6iOK93jnp0Hn5BnNOXy",
        "artists": [{"href": "spotify:artist:7jy3rLJdDQY21OgRLCZ9sD", "name": "Foo
        Fighters"}], "disc-number": "1", "name": "Best Of You"}, {"available": true,
        "track-number": "3", "popularity": "0.76000", "external-ids": [{"type": "isrc",
       [...]
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?uri=spotify:artist:4YrKBkKSVeqDamzBPWVnSJ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"type": "artist"}, "artist": {"href": "spotify:artist:4YrKBkKSVeqDamzBPWVnSJ",
        "name": "Basement Jaxx"}}'
  recorded_at: Thu, 06 Dec 2012 20:06:07 GMT
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?extras=albumdetail&uri=spotify:artist:4YrKBkKSVeqDamzBPWVnSJ
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 06 Dec 2012 17:00:01 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"type": "artist"}, "artist": {"albums": [{"album": {"artist-id":
        "spotify:artist:4YrKBkKSVeqDamzBPWVnSJ", "name": "Jaxx Unreleased II", "artist":
        "Basement Jaxx", "external-ids": [{"type": "upc", "id": "5051083056144"}],
        "released": "2010", "href": "spotify:album:4VmkkYn0IMJovQUWORavXf", "availability":
        {"territories": "AD AE AF AG AI AL AM AN AO AQ AR AS AT AU AW AX AZ BA BB
        BD BE BF BG BH BI BJ BM BN BO BR BS BT BV BW BY BZ CA CC CD CF CG CH CI CK
        CL CM CN CO CR CU CV CX CY CZ DE DJ D[...]
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?extras=&uri=spotify:track:07q6QTQXyPRCf7GbLakRPr
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 05 Dec 2012 23:38:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"track": {"available": true, "album": {"released": "1995", "href":
[...]
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?extras=albumdetail&uri=spotify:artist:7jy3rLJdDQY21OgRLCZ9sD
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Thu, 06 Dec 2012 17:00:01 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"type": "artist"}, "artist": {"albums": [{"alb[...]
