---
http_interactions:
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 18 Nov 2012 16:56:50 GMT
- request:
    method: get
    uri: http://ws.spotify.com/search/1/track.json?page=1&q=With%20or%20Without%20You
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Sat, 17 Nov 2012 23:40:38 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"info": {"num_results": 1013, "limit": 100, "offset": 0, "query":
        "With or Without You", "type": "track", "page": 1}, "tracks": [{"album": {"released":
        "1998", "href": "spotify:album:1WupyTEE8twuMK5iEoBcm2", "name": "The Best
        Of 1980 - 1990 \/ B Sides", "availability": {"territories": "AT BE CH CN CZ
        DE DK EE ES FI FR GB HK HR HU IE IL IN IT LT LV MY NL NO NZ PL PT RU SE SG
        SK TH TR TW UA ZA"}}, "name": "With Or Without You", "popularity": "0.76766",
        "external-ids": [{"type": "isrc", "id": "GBAAN8790003"}], "length": 295.515,
        "href": "spotify:track:2JZfTvWWtpaE8NohqRXqFr", "artists": [{"href": "spotify:artist:51Blml2LZPmy7TTiAg47vQ",
        "name": "U2"}], "track-number": "3"}, {"album": {"released": "2006", "href":
        "spotify:album:72jdJEV95RFo6oecTO5tVk", "name": "U218 Singles", "availability":
        {"territories": "CA US"}}, "name": "With Or Without You", "popularity": "0.64297",
        "external-ids": [{"type": "isrc", "id": "GBAAN8790003"}], "length": 296.535,
        "href": "spotify:track:3a1T0kbSyWjWIohSQozNBf", "artists": [{"href": "spotify:artist:51Blml2LZPmy7TTiAg47vQ",
        "name": "U2"}], "track-number": "4"}, {"album": {"released": "19[...]
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?uri=
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: US-ASCII
      string: ''
  recorded_at: Sun, 02 Dec 2012 18:47:28 GMT
- request:
    method: get
    uri: http://ws.spotify.com/lookup/1/.json?uri=spotify:track:2JZfTvWWtpaE8NohqRXqFr
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Fri, 30 Nov 2012 23:41:47 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{"track": {"available": true, "album": {"released": "1998", "href":
        "spotify:album:1WupyTEE8twuMK5iEoBcm2", "name": "The Best Of 1980 - 1990 \/
        B Sides"}, "track-number": "3", "popularity": "0.75986", "external-ids": [{"type":
        "isrc", "id": "GBAAN8790003"}], "length": 295.515, "href": "spotify:track:2JZfTvWWtpaE8NohqRXqFr",
        "artists": [{"href": "spotify:artist:51Blml2LZPmy7TTiAg47vQ", "name": "U2"}],
        "availability": {"territories": "AT BE CH CN CZ DE DK EE ES FI FR GB HK HR
        HU IE IL IN IT LT LV MY NL NO NZ PL PT RU SE SG SK TH TR TW UA ZA"}, "name":
        "With Or Without You"}, "info": {"type": "track"}}'
  recorded_at: Sun, 02 Dec 2012 18:51:07 GMT
recorded_with: VCR 2.3.0
